.home{
  padding-top: 160px;
  height: calc(100vh - 80px);
  .tip{
      font-size: 48px;
      text-align: center;
      .hightlight{
          background-color: inherit;
          color: $yn-theme;
      }
  }
  .title{
      text-align: center;
      margin-top: 100px;
     
      h2{
          font-size: 48px;
      }
      &>:not(h2){
          color: $yn-text-caption;
          font-size: 16;
      }
  }
  .with{
      float: right;
      width: 30%;
  }
}