.book {
  .book-dtl {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;

    .left-bar {
      width: 260px;
      // background: #fafafa;
      border-right: 1px solid #f1f1f1;


      .title {
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        gap: 6px;

        .back {
          width: 20px;
          margin-left: 10px;
        }

        .title-inner {
          align-content: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        img {
          width: 30px;
          cursor: pointer;
        }
      }

      .docs {
        padding: 10px;

        .doc {
          padding: 6px;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @mixin tools-base {
            cursor: pointer;
            display: flex;
            align-items: center;
            display: none;
          }

          .tools {
            @include tools-base;
          }

          &:hover {
            .tools {
              @include tools-base;
              display: block;
            }
          }
        }

        .doc-active {
          background-color: white;
        }
      }
    }

    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100vh;

      .top-bar {
        background-color: rgba($color: #000000, $alpha: 0.1);
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .no-data {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        div {
          cursor: pointer;
          color: rgba($color: #000000, $alpha: 0.5);
        }
      }

      .have-data {
        flex: 1;
        width: 100%;
        overflow: hidden;
      }
    }
  }
}