.careers{
    padding-top: 160px;
    height: calc(100vh - 80px);
    .sub_title{
        margin:0 ;
        font-size: 40px;
        text-align: center;
        .hightlight{
            color: $yn-theme;
            background-color: unset;
        }
    }
    .title_wrapp{
        text-align: center;
    }
    .title{
        font-size: 60px;
        background-image: url(../../assets/h1-bg.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: right bottom;
        display: inline-block;
        padding-bottom: 40px;
        margin:20px 0 0 0 ;
       
    }
    .intro{
        
        width: 912px;
        margin: auto;
        margin-top: 100px;
        font-size: 16px;
        line-height: 1.75;
        color: $yn-text-caption;
        b{
            color: $yn-text-primary
        }
    }
    .we_img{
        width: 100%;
        position: relative;
        top: -100px;
    }
   
}