.editor-wrapp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .editor {
    padding: 10px;
    flex: 1;
    display: flex;

    & > * {
      flex: 1;
      padding: 10px;
    }

    .md-editor {
      outline: none;
      border: none;

      border-right: rgba($color: #000000, $alpha: 0.1) solid 1px;
    }

    // border: rgba($color: #000000, $alpha: 0.08) solid 1px;
    // border-left: none;
    // border-right: none;
  }
}
